@font-face {
  font-family: 'NotoSansJP';
  src: url('/src/font/NotoSansJP-VariableFont_wght.ttf');
  font-weight: 400 700;
}

$bgc-main: #ffffff;
$bgc-sub: #dfdfdf;
$bgc-accent: #f1f1f1;
$clr-main: #464646;
$clr-sub: #adadad;
$clr-accent: #f1f1f1;
// $clr-accent: #f9f9f9;
$clr-red: #e06c75;
$clr-code-bg: #ffffff;
$clr-config-bg: #ffffff;
$bdc: #e0e0e0;

$ff: #adadad38;

$ff-sans: 'Noto Sans JP', sans-serif;
$ff-mono: '游ゴシック', 'YuGothic', 'Hiragino Kaku Gothic ProN',
  'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
// $ff-maru: 'Kosugi Maru', sans-serif;

$transition: all 0.3s;

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
body {
  font-family: $ff-sans;
  color: $clr-main;
  background-color: $bgc-main;
  font-size: clamp(12px, 1.5vw, 14px);
}

#root {
  display: flex;
  flex-direction: column;
}

.pc-none {
  display: none !important;
  visibility: hidden !important;
}

.cmn-py {
  padding-block: 20px;

  &--output {
    padding-block: 20px clamp(0px, 1vw, 10px);
  }
}

.cmn-mb {
  margin-bottom: 10px;
}

a {
  color: inherit;
  transition: $transition;
  text-decoration: none;
}

.cmn-button {
  width: 100%;
  transition: $transition;
  background-color: #f0f0f0;
  border-radius: 3px;
  // border: 1px solid $bdc;
  padding-block: 3px;
  border: none;
  font-family: $ff-mono;

  &:hover {
    cursor: pointer;
    background-color: #dfdfdf;
  }

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &:disabled {
    background-color: #f0f0f0;

    &:hover {
      cursor: auto;
    }
  }

  &--dark {
    background-color: #e2e2e2;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  width: min(100%, 1080px);
  margin-inline: auto;
  padding-inline: clamp(10px, 2.5vw, 15px);
  background-color: $bgc-main;
  display: flex;
  flex-flow: row nowrap;

  & > * {
    padding-block: 73px 29px;
    overflow: auto;
  }

  &__main-l,
  &__main-r {
    height: 100dvh;
    position: sticky;
    inset: 0 auto 0 0;
    // border-inline: 1px solid $bdc;
    // padding-inline: 3px clamp(15px, 2.5vw, 30px);
    display: flex;
    flex-flow: column nowrap;
    transition: $transition;
    // scrollbar-gutter: stable;
    z-index: 20;
  }

  &__main-l {
    width: 245px;
    // border-right: 1px solid $bdc;
  }

  &__main-r {
    width: 260px;
    // border-left: 1px solid $bdc;
    border-right: 1px solid $bdc;
  }

  &__main-m {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    width: calc(1050px - (245px + 260px));
    // margin-top:73px;
    // background-color: darken($bgc-accent, 10%);
    // background-color: $bgc-main;
    // background-color: $bgc-accent;
    border-inline: 1px solid $bdc;
    z-index: 10;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  background-color: $bgc-main;
  position: fixed;
  inset: 0 0 auto 0;
  padding-block: 15px;
  border-bottom: 1px solid $bdc;
  font-size: 14px;
  z-index: 100;

  &__wrapper {
    padding-inline: calc(50% - 540px);
    margin-inline: 15px;
  }

  &__logo {
    width: fit-content;
    display: block;
  }

  &__title {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Form List                                 */
/* -------------------------------------------------------------------------- */
.form-list {
  $this: &;

  &__item {
    &:not(:last-child) {
      border-bottom: 1px dotted $bdc;
    }

    &--active {
      #{$this}__title,
      #{$this}__icon {
        color: $clr-main;
        font-weight: 500;
      }
    }
  }

  &__button {
    all: unset;
    width: 100%;
    padding-block: clamp(10px, 3.5vw, 13px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: row nowrap;
    gap: clamp(12px, 2.5vw, 15px);
    transition: $transition;

    &:hover {
      cursor: pointer;

      #{$this}__title,
      #{$this}__icon {
        color: $clr-main;
        font-weight: 500;
      }
    }
  }

  &__title {
    font-size: clamp(12px, 1vw, 14px);
    color: $clr-sub;
    transition: $transition;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
  }

  &__subtitle,
  &__icon {
    transition: $transition;
    color: $clr-sub;
  }

  &__icon {
    // margin-bottom: 5px;
    font-size: clamp(15px, 2.5vw, 18px);
  }
}

/* -------------------------------------------------------------------------- */
/*                                Form Display                                */
/* -------------------------------------------------------------------------- */
.display-form {
  $bdr: 0px;

  flex-grow: 1;
  width: 100%;
  // margin-top: 50px;
  // background-color: darken($bgc-accent, 10%);

  input,
  textarea {
    font-family: $ff-mono;
  }

  &__content {
    border-radius: $bdr;
    margin: clamp(10px, 2.5vw, 15px);
    // width: min(100%, 605px);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: clamp(12px, 2.5vw, 25px);
    padding-bottom: clamp(10px, 2.5vw, 12px);
    // padding: 25px 25px 12px 25px;
    border-radius: $bdr $bdr 0 0;
    border: 1px solid $bdc;
    border-bottom: none;
  }

  &__header {
    // background-color: $bgc-main;
    text-align: left;
  }

  &__title {
    font-size: 18px;
  }

  &__subtitle,
  &__option {
    color: $clr-sub;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 20px 10px 20px;
    text-align: right;
    background-color: $bgc-main;
    border-inline: 1px solid $bdc;
    border-bottom: 1px dashed $bdc;
    font-size: 13px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;

      input[type='checkbox'] {
        margin-right: 5px;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: clamp(15px, 2.5vw, 18px);
  }

  &__footer {
    height: 35px;
    background-color: $bgc-main;
    border-radius: 0 0 $bdr $bdr;
    border: 1px solid $bdc;
    border-top: none;
    display: flex;
    padding-inline: 10px;
    justify-content: flex-start;
    align-items: center;

    p {
      display: none;
      font-size: clamp(10px, 2.5vw, 12px);
      color: $clr-sub;
    }
  }

  &__item {
    $this: &;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    // padding: 20px 20px 20px 25px;
    padding-block: 20px;
    padding-inline: clamp(8px, 2.5vw, 20px);
    // padding: clamp(8px, 2.5vw, 20px);
    background-color: $bgc-main;
    border-inline: 1px solid $bdc;
    border-bottom: 1px dashed $bdc;
    // transition: $transition;

    &:hover {
      // background-color: #f7f7f7;
      // background-color: #eef1f5;
      // background-color: $clr-accent;

      // #{$this}-icon:nth-child(1) {
      //   color: $clr-main;
      // }

      #{$this}-icon {
        color: $clr-main;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      gap: clamp(5px, 1vw, 15px);
      color: $clr-sub;
      // transition: $transition;
    }

    .delete-icon,
    .setting-icon {
      all: unset;
      height: 24px;
      transition: $transition;

      &:hover {
        z-index: 50;
        cursor: pointer;
      }
    }

    .delete-icon {
      &:hover {
        color: $clr-red;
      }
    }

    .setting-icon {
      &:hover {
        color: $clr-main;
      }
    }

    &-main {
      flex: 0 1 100%;
      // width: 100%;
      margin-inline: clamp(10px, 2.5vw, 25px);
      // margin-inline: clamp(5px, 2.5vw, 25px);
      overflow: hidden;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      // justify-content: flex-start;
      align-items: center;
      flex-flow: row nowrap;
      margin-bottom: 4px;
    }

    &-title {
      font-weight: 500;
      letter-spacing: 1px;
      flex: 0 1 auto;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &-require,
    &-note,
    &-error {
      min-width: fit-content;
      font-size: 12px;
    }

    &-error {
      color: $clr-red;
      margin-bottom: 4px;
    }

    &-require {
      margin-inline: 10px 5px;
      color: $clr-sub;
    }

    &-note {
      color: $clr-sub;
      margin-top: 4px;
    }

    .item-input {
      outline: none;
      border: 1px solid $bdc;
      padding: 1px 5px;
      width: 100%;
      resize: none;

      &--small {
        width: 25%;
      }

      &--cb {
      }

      &::placeholder {
        color: $clr-sub;
      }
    }

    .address-input-box {
      &__post {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        gap: 5px;
        margin-bottom: 10px;
      }
    }

    .privacy-input-box {
      display: flex;
      justify-items: center;
      align-items: center;
      flex-flow: row nowrap;
      gap: 5px;

      label {
        font-size: clamp(12px, 2.5vw, 13px);
      }
    }

    .radio-input-box,
    .date-input-box,
    .date-input-box__item,
    .file-input-box__box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      gap: 5px;
    }

    .select-input-box {
      width: 100%;
      border-color: $bdc;
    }

    .date-input-box {
      gap: 10px;

      &__item {
        gap: 10px;
      }
    }

    .file-input-box {
      p {
        font-size: 12px;
        color: $clr-sub;
        margin-bottom: 7px;
      }

      &__button {
        font-size: 12px;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: $bgc-sub;
      }
    }

    &--active {
      // background-color: $clr-accent;
      // background-color: #eef1f5;
      // background-color: $bgc-accent;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        // inset: 0 0 0 auto;
        inset: auto 0 auto auto;
        // width: 15px;
        // height: 15px;
        margin-block: auto;
        // background-color: $clr-main;
        transform: translateX(10px);

        border-style: solid;
        border-color: transparent transparent transparent $clr-sub;
        border-width: calc(20px / 2) 0 calc(20px / 2) 15px;
      }

      #{$this}-icon {
        color: $clr-main;
      }
    }
  }

  .material-symbols-outlined {
    font-size: clamp(18px, 2.5vw, 24px);
  }
}

/* -------------------------------------------------------------------------- */
/*                               Generate Button                              */
/* -------------------------------------------------------------------------- */
.generate-button {
  all: unset;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: $clr-sub;
  transition: $transition;
  font-family: $ff-mono;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 7px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $clr-main;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Output                                   */
/* -------------------------------------------------------------------------- */
.output {
  &__button {
    all: unset;
    transition: $transition;
    color: $clr-sub;

    &:hover {
      cursor: pointer;
      color: $clr-main;
    }

    &--copy,
    &--active {
      color: $clr-sub;

      &:hover {
        color: $clr-main;
      }
    }

    &--close {
      color: $clr-sub;

      &:hover {
        color: $clr-red;
      }
    }

    &--active {
      color: $clr-main;
    }
  }

  &__modal {
    // inset: 20px 0 auto 0;
    inset: 0;
    position: absolute;
    background-color: $bgc-main;
    margin: auto;
    width: min(95%, 880px);
    // width: min(95%, 1000px);
    // height: 80dvh;
    height: fit-content;
    border-radius: 4px;
    // border: 1px solid $bdc;
    // border-radius: 5px;
    // padding: 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    // justify-content: flex-end;
    align-items: flex-start;
    // margin-bottom: 20px;
    // border-bottom: 1px solid $bdc;
    padding: 10px 10px 0;
    // background-color: $bgc-accent;
    border-radius: 5px 5px 0 0;
    text-transform: capitalize;
  }

  &__title {
    color: $clr-sub;
    font-weight: 400;
    font-size: 12px;
  }

  &__content {
    padding: 5px 20px;
  }

  &__item {
    margin-bottom: 25px;

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-flow: row nowrap;
      margin-bottom: 10px;
    }

    &-code {
      // text-align: justify;
      // padding: 10px;
      // background-color: $clr-accent;
      // overflow: auto;
      // white-space: nowrap;

      // p {
      //   margin-left: 2ch;
      // }

      pre {
        // height: 230px;
        max-height: 230px;
        margin-block: 0;
        // overflow-x: hidden !important;
        border: 1px dashed $bdc;
      }

      code {
        font-family: $ff-mono;
      }
    }
  }

  &__note {
    color: $clr-sub;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Configuration                               */
/* -------------------------------------------------------------------------- */
.config {
  padding: clamp(10px, 2.5vw, 15px);

  /* ----------------------------- Initial display ---------------------------- */
  &-start {
    padding: clamp(10px, 2.5vw, 15px);

    &__box {
      // display: flex;
      // justify-content: space-between;
      // align-items: flex-end;
      // flex-flow: row nowrap;
      font-size: 14px;
      color: $clr-sub;
    }

    .divider {
      margin-block: 0 5px;
    }
  }

  &__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    gap: 5px;

    input,
    label {
      &:hover {
        cursor: pointer;
      }
    }
  }

  /* -------------------------------------------------------------------------- */
  &__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 4px;
  }

  &__title {
    // white-space: nowrap;
    color: $clr-sub;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: clamp(12px, 2.5vw, 14px);
    margin-bottom: 8px;

    em {
      font-style: normal;
      color: $clr-main;
    }

    &-note {
      color: $clr-sub;
      margin-bottom: 15px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: clamp(10px, 0.5vw, 15px);
    }

    &:last-child {
      margin-bottom: clamp(15px, 0.5vw, 25px);
    }

    &--cb {
      display: flex;
      justify-content: flex-start;
      // justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
      gap: clamp(5px, 0.5vw, 15px);

      input,
      label {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .item-label {
      display: block;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 3px;
      // text-transform: capitalize;
      font-size: clamp(12px, 2.5vw, 13px);
    }

    .item-input {
      outline: none;
      border: 1px solid $bdc;
      padding: 1px 5px;
      width: 100%;
      resize: none;

      &--small {
        width: 25%;
      }

      &::placeholder {
        color: $clr-sub;
      }
    }

    .item-memo {
      color: $clr-sub;
      font-size: 12px;
    }
  }

  // &__button {
  //   width: 100%;

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }
}

.divider {
  border: 0;
  border-top: 1px dotted $bdc;
  margin-block: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: $bgc-main;
  position: fixed;
  inset: auto 0 0 0;
  padding-block: 4px;
  text-align: center;
  border-top: 1px solid $bdc;
  z-index: 100;

  small {
    margin-inline: 15px;
    white-space: nowrap;
  }
}

/* --------------------------------- Hidden --------------------------------- */
.hidden {
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;

  h2 {
    margin-bottom: 5px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Icons                                   */
/* -------------------------------------------------------------------------- */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
