@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #464646;
  background-color: #ffffff;
  font-size: clamp(12px, 1.5vw, 14px);
}

#root {
  display: flex;
  flex-direction: column;
}

.pc-none {
  display: none !important;
  visibility: hidden !important;
}

.cmn-py {
  padding-block: 20px;
}
.cmn-py--output {
  padding-block: 20px clamp(0px, 1vw, 10px);
}

.cmn-mb {
  margin-bottom: 10px;
}

a {
  color: inherit;
  transition: all 0.3s;
  text-decoration: none;
}

.cmn-button {
  width: 100%;
  transition: all 0.3s;
  background-color: #f0f0f0;
  border-radius: 3px;
  padding-block: 3px;
  border: none;
  font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
.cmn-button:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.cmn-button:not(:last-child) {
  margin-bottom: 7px;
}
.cmn-button:disabled {
  background-color: #f0f0f0;
}
.cmn-button:disabled:hover {
  cursor: auto;
}
.cmn-button--dark {
  background-color: #e2e2e2;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  width: min(100%, 1080px);
  margin-inline: auto;
  padding-inline: clamp(10px, 2.5vw, 15px);
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
}
.main > * {
  padding-block: 73px 29px;
  overflow: auto;
}
.main__main-l, .main__main-r {
  height: 100dvh;
  position: sticky;
  inset: 0 auto 0 0;
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.3s;
  z-index: 20;
}
.main__main-l {
  width: 245px;
}
.main__main-r {
  width: 260px;
  border-right: 1px solid #e0e0e0;
}
.main__main-m {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  width: 545px;
  border-inline: 1px solid #e0e0e0;
  z-index: 10;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  background-color: #ffffff;
  position: fixed;
  inset: 0 0 auto 0;
  padding-block: 15px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  z-index: 100;
}
.header__wrapper {
  padding-inline: calc(50% - 540px);
  margin-inline: 15px;
}
.header__logo {
  width: fit-content;
  display: block;
}
.header__title {
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */
/*                                  Form List                                 */
/* -------------------------------------------------------------------------- */
.form-list__item:not(:last-child) {
  border-bottom: 1px dotted #e0e0e0;
}
.form-list__item--active .form-list__title,
.form-list__item--active .form-list__icon {
  color: #464646;
  font-weight: 500;
}
.form-list__button {
  all: unset;
  width: 100%;
  padding-block: clamp(10px, 3.5vw, 13px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-flow: row nowrap;
  gap: clamp(12px, 2.5vw, 15px);
  transition: all 0.3s;
}
.form-list__button:hover {
  cursor: pointer;
}
.form-list__button:hover .form-list__title,
.form-list__button:hover .form-list__icon {
  color: #464646;
  font-weight: 500;
}
.form-list__title {
  font-size: clamp(12px, 1vw, 14px);
  color: #adadad;
  transition: all 0.3s;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
}
.form-list__subtitle, .form-list__icon {
  transition: all 0.3s;
  color: #adadad;
}
.form-list__icon {
  font-size: clamp(15px, 2.5vw, 18px);
}

/* -------------------------------------------------------------------------- */
/*                                Form Display                                */
/* -------------------------------------------------------------------------- */
.display-form {
  flex-grow: 1;
  width: 100%;
}
.display-form input,
.display-form textarea {
  font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
.display-form__content {
  border-radius: 0px;
  margin: clamp(10px, 2.5vw, 15px);
}
.display-form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: clamp(12px, 2.5vw, 25px);
  padding-bottom: clamp(10px, 2.5vw, 12px);
  border-radius: 0px 0px 0 0;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
.display-form__header {
  text-align: left;
}
.display-form__title {
  font-size: 18px;
}
.display-form__subtitle, .display-form__option {
  color: #adadad;
}
.display-form__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 20px 10px 20px;
  text-align: right;
  background-color: #ffffff;
  border-inline: 1px solid #e0e0e0;
  border-bottom: 1px dashed #e0e0e0;
  font-size: 13px;
}
.display-form__option-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-form__option-item input[type=checkbox] {
  margin-right: 5px;
}
.display-form__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: clamp(15px, 2.5vw, 18px);
}
.display-form__footer {
  height: 35px;
  background-color: #ffffff;
  border-radius: 0 0 0px 0px;
  border: 1px solid #e0e0e0;
  border-top: none;
}
.display-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding-block: 20px;
  padding-inline: clamp(8px, 2.5vw, 20px);
  background-color: #ffffff;
  border-inline: 1px solid #e0e0e0;
  border-bottom: 1px dashed #e0e0e0;
}
.display-form__item:hover .display-form__item-icon {
  color: #464646;
}
.display-form__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: clamp(5px, 1vw, 15px);
  color: #adadad;
}
.display-form__item .delete-icon,
.display-form__item .setting-icon {
  all: unset;
  height: 24px;
  transition: all 0.3s;
}
.display-form__item .delete-icon:hover,
.display-form__item .setting-icon:hover {
  z-index: 50;
  cursor: pointer;
}
.display-form__item .delete-icon:hover {
  color: #e06c75;
}
.display-form__item .setting-icon:hover {
  color: #464646;
}
.display-form__item-main {
  flex: 0 1 100%;
  margin-inline: clamp(10px, 2.5vw, 25px);
  overflow: hidden;
}
.display-form__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 4px;
}
.display-form__item-title {
  font-weight: 500;
  letter-spacing: 1px;
  flex: 0 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.display-form__item-require, .display-form__item-note, .display-form__item-error {
  min-width: fit-content;
  font-size: 12px;
}
.display-form__item-error {
  color: #e06c75;
  margin-bottom: 4px;
}
.display-form__item-require {
  margin-inline: 10px 5px;
  color: #adadad;
}
.display-form__item-note {
  color: #adadad;
  margin-top: 4px;
}
.display-form__item .item-input {
  outline: none;
  border: 1px solid #e0e0e0;
  padding: 1px 5px;
  width: 100%;
  resize: none;
}
.display-form__item .item-input--small {
  width: 25%;
}
.display-form__item .item-input::placeholder {
  color: #adadad;
}
.display-form__item .address-input-box__post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 5px;
  margin-bottom: 10px;
}
.display-form__item .privacy-input-box {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 5px;
}
.display-form__item .privacy-input-box label {
  font-size: clamp(12px, 2.5vw, 13px);
}
.display-form__item .radio-input-box,
.display-form__item .date-input-box,
.display-form__item .date-input-box__item,
.display-form__item .file-input-box__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 5px;
}
.display-form__item .select-input-box {
  width: 100%;
  border-color: #e0e0e0;
}
.display-form__item .date-input-box {
  gap: 10px;
}
.display-form__item .date-input-box__item {
  gap: 10px;
}
.display-form__item .file-input-box p {
  font-size: 12px;
  color: #adadad;
  margin-bottom: 7px;
}
.display-form__item .file-input-box__button {
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #dfdfdf;
}
.display-form__item--active {
  position: relative;
}
.display-form__item--active::after {
  content: "";
  position: absolute;
  inset: auto 0 auto auto;
  margin-block: auto;
  transform: translateX(10px);
  border-style: solid;
  border-color: transparent transparent transparent #adadad;
  border-width: 10px 0 10px 15px;
}
.display-form__item--active .display-form__item-icon {
  color: #464646;
}
.display-form .material-symbols-outlined {
  font-size: clamp(18px, 2.5vw, 24px);
}

/* -------------------------------------------------------------------------- */
/*                               Generate Button                              */
/* -------------------------------------------------------------------------- */
.generate-button {
  all: unset;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: #adadad;
  transition: all 0.3s;
  font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 7px;
}
.generate-button:hover, .generate-button:focus {
  cursor: pointer;
  color: #464646;
}

/* -------------------------------------------------------------------------- */
/*                                   Output                                   */
/* -------------------------------------------------------------------------- */
.output__button {
  all: unset;
  transition: all 0.3s;
  color: #adadad;
}
.output__button:hover {
  cursor: pointer;
  color: #464646;
}
.output__button--copy, .output__button--active {
  color: #adadad;
}
.output__button--copy:hover, .output__button--active:hover {
  color: #464646;
}
.output__button--close {
  color: #adadad;
}
.output__button--close:hover {
  color: #e06c75;
}
.output__button--active {
  color: #464646;
}
.output__modal {
  inset: 0;
  position: absolute;
  background-color: #ffffff;
  margin: auto;
  width: min(95%, 880px);
  height: fit-content;
  border-radius: 4px;
}
.output__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 0;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
}
.output__title {
  color: #adadad;
  font-weight: 400;
  font-size: 12px;
}
.output__content {
  padding: 5px 20px;
}
.output__item {
  margin-bottom: 25px;
}
.output__item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
.output__item-code pre {
  max-height: 230px;
  margin-block: 0;
  border: 1px dashed #e0e0e0;
}
.output__item-code code {
  font-family: "游ゴシック", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
}
.output__note {
  color: #adadad;
}

/* -------------------------------------------------------------------------- */
/*                                Configuration                               */
/* -------------------------------------------------------------------------- */
.config {
  padding: clamp(10px, 2.5vw, 15px);
  /* ----------------------------- Initial display ---------------------------- */
  /* -------------------------------------------------------------------------- */
}
.config-start {
  padding: clamp(10px, 2.5vw, 15px);
}
.config-start__box {
  font-size: 14px;
  color: #adadad;
}
.config-start .divider {
  margin-block: 0 5px;
}
.config__option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  gap: 5px;
}
.config__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 8px;
  margin-bottom: 4px;
}
.config__title {
  color: #adadad;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: clamp(12px, 2.5vw, 14px);
  margin-bottom: 8px;
}
.config__title em {
  font-style: normal;
  color: #464646;
}
.config__title-note {
  color: #adadad;
  margin-bottom: 15px;
}
.config__item:not(:last-child) {
  margin-bottom: clamp(10px, 0.5vw, 15px);
}
.config__item:last-child {
  margin-bottom: clamp(15px, 0.5vw, 25px);
}
.config__item--cb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: clamp(5px, 0.5vw, 15px);
}
.config__item .item-label {
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 3px;
  font-size: clamp(12px, 2.5vw, 13px);
}
.config__item .item-input {
  outline: none;
  border: 1px solid #e0e0e0;
  padding: 1px 5px;
  width: 100%;
  resize: none;
}
.config__item .item-input--small {
  width: 25%;
}
.config__item .item-input::placeholder {
  color: #adadad;
}
.config__item .item-memo {
  color: #adadad;
  font-size: 12px;
}

.divider {
  border: 0;
  border-top: 1px dotted #e0e0e0;
  margin-block: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: #ffffff;
  position: fixed;
  inset: auto 0 0 0;
  padding-block: 4px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  z-index: 100;
}
.footer small {
  margin-inline: 15px;
  white-space: nowrap;
}

/* --------------------------------- Hidden --------------------------------- */
.hidden {
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
}
.hidden h2 {
  margin-bottom: 5px;
}

/* -------------------------------------------------------------------------- */
/*                                    Icons                                   */
/* -------------------------------------------------------------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}