$bdc: #e0e0e0;

@media screen and (width <= 768px) {
  .sp-none {
    display: none !important;
    visibility: visible !important;
  }

  .pc-none {
    display: inline !important;
    visibility: visible !important;
  }

  * ::-webkit-scrollbar {
    display: none;
  }

  .main {
    padding-right: 0;

    &__main-l {
      width: 40px;
    }

    &__main-r {
      border-right: none;
    }
  }

  .ouput {
    &__modal {
      inset: 20px 0 auto 0;
    }
  }
}

@media screen and (width <= 490px) {
  .main {
    &__main-r {
      display: none;
    }
  }

  .display-form__item {
    .setting-icon {
      display: none;
    }
  }

  .display-form__footer {
    p {
      display: block;
    }
  }

  .form-setting {
    display: none;
  }
}

@media screen and (width <= 360px) {
  .main,
  .output__modal {
    display: none;
  }
  .hidden {
    display: flex;
  }
}
