/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #464646;
  background-color: #ffffff;
  font-size: clamp(12px, 1.5vw, 14px);
}

#root {
  display: flex;
  flex-direction: column;
}

.pc-none {
  display: none !important;
  visibility: hidden !important;
}

.cmn-py {
  padding-block: 20px;
}
.cmn-py--output {
  padding-block: 20px clamp(0px, 1vw, 10px);
}

.cmn-mb {
  margin-bottom: 10px;
}

a {
  color: inherit;
  transition: all 0.3s;
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  width: min(100%, 1080px);
  margin-inline: auto;
  padding-inline: 15px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
}
.main > * {
  padding-block: 73px 29px;
  overflow: auto;
}
.main__main-l, .main__main-r {
  height: 100dvh;
  position: sticky;
  inset: 0 auto 0 0;
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.3s;
  z-index: 20;
}
.main__main-l {
  width: 245px;
}
.main__main-r {
  width: 260px;
  border-right: 1px solid #d1d1d1;
}
.main__main-m {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  width: 545px;
  border-inline: 1px solid #d1d1d1;
  z-index: 10;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  background-color: #ffffff;
  position: fixed;
  inset: 0 0 auto 0;
  padding-block: 15px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 14px;
  z-index: 100;
}
.header__wrapper {
  padding-inline: calc(50% - 540px);
  margin-inline: 15px;
}
.header__logo {
  width: fit-content;
  display: block;
}
.header__title {
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */
/*                                  Form List                                 */
/* -------------------------------------------------------------------------- */
.form-list__item:not(:last-child) {
  border-bottom: 1px dotted #d1d1d1;
}
.form-list__item--active .form-list__title,
.form-list__item--active .form-list__icon {
  color: #464646;
}
.form-list__button {
  all: unset;
  width: 100%;
  padding-block: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-flow: row nowrap;
  gap: 15px;
  transition: all 0.3s;
}
.form-list__button:hover {
  cursor: pointer;
}
.form-list__button:hover .form-list__title,
.form-list__button:hover .form-list__icon {
  color: #464646;
}
.form-list__title {
  font-size: 14px;
  color: #adadad;
  transition: all 0.3s;
}
.form-list__subtitle, .form-list__icon {
  transition: all 0.3s;
  color: #adadad;
}
.form-list__icon {
  font-size: 18px;
}

/* -------------------------------------------------------------------------- */
/*                                Form Display                                */
/* -------------------------------------------------------------------------- */
.display-form {
  flex-grow: 1;
  width: 100%;
}
.display-form input,
.display-form textarea {
  font-family: "Kosugi Maru", sans-serif;
}
.display-form__content {
  border-radius: 0px;
  margin: 20px;
}
.display-form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 25px 25px 12px 25px;
  border-radius: 0px 0px 0 0;
  border: 1px solid #d1d1d1;
  border-bottom: none;
}
.display-form__header {
  text-align: left;
}
.display-form__subtitle, .display-form__option {
  color: #adadad;
}
.display-form__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 20px 10px 20px;
  text-align: right;
  background-color: #ffffff;
  border-inline: 1px solid #d1d1d1;
  border-bottom: 1px dashed #d1d1d1;
  font-size: 13px;
}
.display-form__option-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-form__option-item input[type=checkbox] {
  margin-right: 5px;
}
.display-form__footer {
  height: 35px;
  background-color: #ffffff;
  border-radius: 0 0 0px 0px;
  border: 1px solid #d1d1d1;
  border-top: none;
}
.display-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 20px 20px 20px 25px;
  background-color: #ffffff;
  border-inline: 1px solid #d1d1d1;
  border-bottom: 1px dashed #d1d1d1;
}
.display-form__item:hover {
  background-color: #f1f1f1;
  background-color: #f7f7f7;
  background-color: #f7f7f7;
}
.display-form__item:hover .display-form__item-icon:nth-child(1) {
  color: #464646;
}
.display-form__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 15px;
  color: #adadad;
  transition: all 0.3s;
}
.display-form__item .delete-icon,
.display-form__item .setting-icon {
  all: unset;
  height: 24px;
  transition: all 0.3s;
}
.display-form__item .delete-icon:hover,
.display-form__item .setting-icon:hover {
  z-index: 50;
  cursor: pointer;
}
.display-form__item .delete-icon:hover {
  color: #e06c75;
}
.display-form__item .setting-icon:hover {
  color: #464646;
}
.display-form__item-main {
  width: 100%;
  margin-inline: 25px;
}
.display-form__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  margin-bottom: 4px;
}
.display-form__item-title {
  font-weight: 700;
  letter-spacing: 1px;
}
.display-form__item-require, .display-form__item-note, .display-form__item-error {
  font-size: 12px;
}
.display-form__item-error {
  color: #e06c75;
  margin-bottom: 4px;
}
.display-form__item-require {
  margin-inline: 5px;
  color: #adadad;
}
.display-form__item-note {
  color: #adadad;
  margin-top: 4px;
}
.display-form__item .item-input {
  outline: none;
  border: 1px solid #d1d1d1;
  padding: 1px 5px;
  width: 100%;
  resize: none;
}
.display-form__item .item-input--small {
  width: 25%;
}
.display-form__item .item-input::placeholder {
  color: #adadad;
}
.display-form__item .address-input-box__post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 5px;
  margin-bottom: 10px;
}
.display-form__item .privacy-input-box {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 5px;
}
.display-form__item .privacy-input-box label {
  font-size: 13px;
}
.display-form__item .radio-input-box,
.display-form__item .date-input-box,
.display-form__item .date-input-box__item,
.display-form__item .file-input-box__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  gap: 5px;
}
.display-form__item .select-input-box {
  width: 100%;
  border-color: #d1d1d1;
}
.display-form__item .date-input-box {
  gap: 10px;
}
.display-form__item .date-input-box__item {
  gap: 10px;
}
.display-form__item .file-input-box p {
  font-size: 12px;
  color: #adadad;
  margin-bottom: 7px;
}
.display-form__item .file-input-box__button {
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #dfdfdf;
}
.display-form__item--active {
  background-color: #f7f7f7;
}
.display-form__item--active .display-form__item-icon {
  color: #464646;
}

/* -------------------------------------------------------------------------- */
/*                               Generate Button                              */
/* -------------------------------------------------------------------------- */
.generate-button {
  all: unset;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: #adadad;
  transition: all 0.3s;
  font-family: "Source Code Pro", "M PLUS 1 Code", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 7px;
}
.generate-button:hover, .generate-button:focus {
  cursor: pointer;
  color: #464646;
}

/* -------------------------------------------------------------------------- */
/*                                   Output                                   */
/* -------------------------------------------------------------------------- */
.output__button {
  all: unset;
}
.output__button:hover {
  cursor: pointer;
}
.output__button--close {
  color: #adadad;
  transition: all 0.3s;
}
.output__button--close:hover {
  color: #e06c75;
}
.output__button--word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.output__button--word p {
  color: #adadad;
  transition: all 0.3s;
}
.output__button--word:hover p {
  color: #464646;
}
.output__modal {
  inset: 0;
  position: absolute;
  background-color: #ffffff;
  margin: auto;
  width: min(90%, 800px);
  height: 80dvh;
  border: 1px solid #d1d1d1;
}
.output__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #d1d1d1;
  padding: 5px 10px 0px;
  border-radius: 5px 5px 0 0;
  text-transform: capitalize;
}
.output__title {
  color: #adadad;
}
.output__content {
  padding: 30px;
}
.output__item {
  margin-bottom: 20px;
}
.output__item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
.output__item-code {
  font-family: "Source Code Pro", "M PLUS 1 Code", monospace;
  padding: 10px;
  background-color: #f1f1f1;
  overflow: auto;
  height: fit-content;
  max-height: 200px;
  white-space: nowrap;
}
.output__item-code p {
  margin-left: 2ch;
}
.output__note {
  color: #adadad;
}

/* -------------------------------------------------------------------------- */
/*                                Configuration                               */
/* -------------------------------------------------------------------------- */
.config {
  padding: 15px;
}
.config-start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 55%;
  color: #adadad;
}
.config-start__icon {
  margin-bottom: 5px;
}
.config__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 8px;
  margin-bottom: 4px;
}
.config__icon {
  font-size: 24px;
}
.config__title {
  text-overflow: ellipsis;
  overflow: hidden;
}
.config__title-note {
  color: #adadad;
  margin-bottom: 15px;
}
.config__item:not(:last-child) {
  margin-bottom: 15px;
}
.config__item:last-child {
  margin-bottom: 25px;
}
.config__item--cb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 15px;
}
.config__item .item-label {
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 13px;
}
.config__item .item-input {
  outline: none;
  border: 1px solid #d1d1d1;
  padding: 1px 5px;
  width: 100%;
  resize: none;
}
.config__item .item-input--small {
  width: 25%;
}
.config__item .item-input::placeholder {
  color: #adadad;
}
.config__item .item-memo {
  color: #adadad;
  font-size: 12px;
}
.config__button {
  width: 100%;
}
.config__button:hover {
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   Divider                                  */
/* -------------------------------------------------------------------------- */
.divider {
  border: 0;
  border-top: 1px dotted #d1d1d1;
  margin-block: 10px;
}

.test {
  overflow-wrap: break-word;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: #ffffff;
  position: fixed;
  inset: auto 0 0 0;
  padding-block: 4px;
  text-align: center;
  border-top: 1px solid #d1d1d1;
  z-index: 100;
}
.footer small {
  margin-inline: 15px;
  white-space: nowrap;
}

/* -------------------------------------------------------------------------- */
/*                                    Icons                                   */
/* -------------------------------------------------------------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}